<div class="item-sheet gear">
	<div class="identity">
		<div class="name"><input type="text" name="name" value="{{document.name}}" size=12></div>
		{{#if document.isEmbedded}}
		<div class="carried">
			<input type="checkbox" name="system.carried" title="{{localize "tribe8.item.gear.carried.hint"}}" value="true"{{#if document.system.carried}} checked{{/if}} />
			<label for="system.carried" title="{{localize "tribe8.item.gear.carried.hint"}}">{{localize "tribe8.item.gear.carried.short"}}</label>
		</div>
		{{/if}}
	</div>
	<div class="properties">
		{{> "systems/tribe8/templates/sheets/items/partials/gearCommonProperties.html"}}
	</div>
	{{> "systems/tribe8/templates/sheets/items/partials/description.html"}}
	{{> "systems/tribe8/templates/sheets/items/partials/buttons.html"}}
</div>
