<div class="item-sheet maneuver">
	<div class="identity">
		<div class="name"><input type="text" name="name" value="{{document.name}}" size=12></div>
		{{#if document.system.complexity}}
		<div class="specific">
			<select name="system.skill">
				{{#each skillChoices as |name key|}}
				<option value="{{key}}"{{#if (eq @root.document.system.skill key)}} selected{{/if}}>{{localize name}}</option>
				{{/each}}
			</select>
		</div>
		{{/if}}
	</div>
	{{!-- TODO: Eventually, the idea is for these to only be visible to the GM, who can pre-configure them before players add them to their sheets. --}}
	<div class="allowed">
		{{!-- NOTE: The *existing* value is passed in as allowedTypes[type], while the *submitted* value is passed back as system.allowedTypes[type} --}}
		<input type="checkbox" name="system.allowedTypes[C]"
		       value=true{{#if allowedTypes.C}} checked{{/if}}
		       title="{{localize "tribe8.item.maneuver.system.allowedTypes.cavalry"}}" />
		<label for="system.allowedTypes[C]"
		       title="{{localize "tribe8.item.maneuver.system.allowedTypes.cavalry"}}">C</label>
		<input type="checkbox" name="system.allowedTypes[D]"
		       value=true{{#if allowedTypes.D}} checked{{/if}}
		       title="{{localize "tribe8.item.maneuver.system.allowedTypes.defense"}}" />
		<label for="system.allowedTypes[D]"
		       title="{{localize "tribe8.item.maneuver.system.allowedTypes.defense"}}">D</label>
		<input type="checkbox" name="system.allowedTypes[H]"
		       value=true{{#if allowedTypes.H}} checked{{/if}}
		       title="{{localize "tribe8.item.maneuver.system.allowedTypes.handtohand"}}" />
		<label for="system.allowedTypes[H]"
		       title="{{localize "tribe8.item.maneuver.system.allowedTypes.handtohand"}}">H</label>
		<input type="checkbox" name="system.allowedTypes[M]"
		       value=true{{#if allowedTypes.M}} checked{{/if}}
		       title="{{localize "tribe8.item.maneuver.system.allowedTypes.melee"}}" />
		<label for="system.allowedTypes[M]"
		       title="{{localize "tribe8.item.maneuver.system.allowedTypes.melee"}}">M</label>
		<input type="checkbox" name="system.allowedTypes[R]"
		       value=true{{#if allowedTypes.R}} checked{{/if}}
		       title="{{localize "tribe8.item.maneuver.system.allowedTypes.ranged"}}" />
		<label for="system.allowedTypes[R]"
		       title="{{localize "tribe8.item.maneuver.allowedTypes.ranged"}}">R</label>
	</div>
	<div class="costs">
		<div class="cost-field cost-field-checkbox">
			<input type="radio" id="system.points.cp" name="system.points" value="CP"{{#if (eq document.system.points "CP")}} checked{{/if}}>
			<label for="system.points.cp">CP</label>
		</div>
		<div class="cost-field cost-field-checkbox">
			<input type="radio" id="system.points.xp" name="system.points" value="XP"{{#if (eq document.system.points "XP")}} checked{{/if}} />
			<label for="system.points.xp">XP</label>
		</div>
		<div class="fromCpx cost-field cost-field-checkbox">
			<input type="checkbox" name="system.fromCpx" value=true{{# if document.system.fromCpx}} checked{{/if}} title="Pay for this Maneuver using free Maneuvers granted by Complexity in chosen Skill" />
			<label for="system.fromCpx" title="Pay for this Maneuver using bonus Maneuvers granted by Complexity in chosen Skill">Cpx</label>
		</div>
		<div class="granted cost-field cost-field-checkbox">
			<input type="checkbox" name="system.granted" value=true{{#if document.system.granted}} checked{{/if}} title="Check if the Weaver granted this for free" />
			<label for="system.granted" title="Check if the Weaver granted this for free">F?</label>
		</div>
	</div>
	<div class="properties">
		<div class="property">
			<div class="property-name">Cpx</div>
			<div class="property-input">
				<span class="input-sizer" data-value="{{document.system.complexity}}">
					<input type="number" name="system.complexity" value="{{ document.system.complexity }}" title="Complexity requirement for this Maneuver. Use 0 for Free Maneuvers." placeholder="0" min="0" max="10" />
				</span>
			</div>
		</div>
		<div class="property">
			<div class="property-name">Acc.</div>
			<div class="property-input">
				<span class="input-sizer" data-value="{{document.system.accuracy}}">
					<input type="text" name="system.accuracy" value="{{document.system.accuracy}}" placeholder="N/A" size=2 />
				</span>
			</div>
		</div>
		<div class="property">
			<div class="property-name">Init.</div>
			<div class="property-input">
				<span class="input-sizer" data-value="{{document.system.initiative}}">
					<input type="text" name="system.initiative" value="{{document.system.initiative}}" placeholder="N/A" size=2 />
				</span>
			</div>
		</div>
		<div class="property">
			<div class="property-name">Def.</div>
			<div class="property-input">
				<span class="input-sizer" data-value="{{document.system.defense}}">
					<input type="text" name="system.defense" value="{{document.system.defense}}" placeholder="N/A" size=2 />
				</span>
			</div>
		</div>
		<div class="property">
			<div class="property-name">Parry</div>
			<div class="property-input">
				<span class="input-sizer" data-value="{{document.system.parry}}">
					<input type="text" name="system.parry" value="{{document.system.parry}}" placeholder="N/A" size=2 />
				</span>
			</div>
		</div>
		<div class="property">
			<div class="property-name">Dmg.</div>
			<div class="property-input">
				<span class="input-sizer" data-value="{{document.system.damage}}">
					<input type="text" name="system.damage" value="{{document.system.damage}}" placeholder="N/A" size=4 />
				</span>
			</div>
		</div>
	</div>
	{{> "systems/tribe8/templates/sheets/items/partials/description.html"}}
	{{> "systems/tribe8/templates/sheets/items/partials/buttons.html"}}
</div>
