<div class="item-sheet gear weapon">
	<div class="identity">
		<div class="name"><input type="text" name="name" value="{{document.name}}" size=12></div>
		<div class="specific">
			<select name="system.category">
				{{#each weaponCategories as |name key|}}
				<option value="{{key}}"{{#if (eq @root.document.system.category key)}} selected{{/if}}>{{localize name}}</option>
				{{/each}}
			</select>
		</div>
		{{#if document.system.category}}
		<div class="specific">
			<select name="system.subcategory">
				{{#each weaponSubcategories as |name key|}}
				<option value="{{key}}"{{#if (eq @root.document.system.subcategory key)}} selected{{/if}}>{{localize name}}</option>
				{{/each}}
			</select>
		</div>
		{{/if}}
		{{#if document.isEmbedded}}
		<div class="carried">
			<input type="checkbox" name="system.carried" title="{{localize "tribe8.item.gear.system.carried.hint"}}" value="true"{{#if document.system.carried}} checked{{/if}} />
			<label for="system.carried" title="{{localize "tribe8.item.gear.system.carried.hint"}}">{{localize "tribe8.item.gear.system.carried.short"}}</label>
		</div>
		{{/if}}
	</div>
	<div class="properties">
		{{!-- Common Weapon Properties --}}
		<div class="property accuracy">
			<div class="property-name">Acc.</div>
			<div class="property-input">
				<span class="input-sizer" data-value="{{document.system.accuracy}}">
					<input type="text" name="system.accuracy" value="{{document.system.accuracy}}" placeholder="N/A" size=2 />
				</span>
			</div>
		</div>
		{{#if (lookup ranges "ranged")}}
		<div class="property fumble">
			<div class="property-name">Fumble</div>
			<div class="property-input">
				<select name="system.fumble">
					{{#each fumbleRisk as |name key|}}
					<option value="{{key}}"{{#if (eq @root.document.system.fumble key)}} selected{{/if}}>{{localize name}}</option>
					{{/each}}
				</select>
			</div>
		</div>
		{{else}}
		<div class="property parry">
			<div class="property-name">Parry</div>
			<div class="property-input">
				<span class="input-sizer" data-value="{{document.system.parry}}">
					<input type="text" name="system.parry" value="{{document.system.parry}}" placeholder="N/A" size=2 />
				</span>
			</div>
		</div>
		{{/if}}
		<div class="property DM">
			<div class="property-name">DM</div>
			<div class="property-input">
				<span class="input-sizer" data-value="{{document.system.damage}}">
					<input type="text" name="system.damage" value="{{document.system.damage}}" placeholder="N/A" size=4 />
				</span>
			</div>
		</div>
		<div class="property traits">
			<div class="property-name">Traits</div>
			<div class="property-input">
				<span class="input-sizer" data-value="{{document.system.traits}}">
					<input type="text" name="system.traits" value="{{document.system.traits}}" placeholder="None" size=4 />
				</span>
			</div>
		</div>
		<hr />
		<div class="property range">
			<div class="property-name">Range</div>
			<div class="property-input">
				{{#each weaponRanges as |name value|}}
				<button name="system.ranges.{{value}}"{{#if (lookup ../ranges value)}} class="selected"{{/if}} data-action="toggleRange" title="{{localize (concat "tribe8.item.weapon.system.ranges." value ".full")}}">{{localize (concat "tribe8.item.weapon.system.ranges." value ".short")}}</button>
				{{/each}}
			</div>
		</div>
		{{# if (or (lookup ranges "throw") (lookup ranges "ranged"))}}
		<div class="property baseRange">
			<div class="property-name">Base Dist.</div>
			<div class="property-input">
				<span class="input-sizer" data-value="{{document.system.baseRange}}">
					<input type="text" name="system.baseRange" value="{{document.system.baseRange}}" placeholder="N/A" size=4 />
				</span>
			</div>
		</div>
		{{#if (lookup ranges "ranged")}}
		<div class="property rof">
			<div class="property-name">ROF</div>
			<div class="property-input">
				<span class="input-sizer" data-value="{{document.system.rof}}">
					<input type="text" name="system.rof" value="{{document.system.rof}}" placeholder="N/A" size=4 />
				</span>
			</div>
		</div>
		<div class="property ammo-curr">
			<div class="property-name">Ammo Curr.</div>
			<div class="property-input">
				<span class="input-sizer" data-value="{{document.system.ammo.current}}">
					<input type="text" name="system.ammo.current" value="{{document.system.ammo.current}}" placeholder="N/A" size=4 />
				</span>
			</div>
		</div>
		<div class="property ammo-cap">
			<div class="property-name">Ammo Cap.</div>
			<div class="property-input">
				<span class="input-sizer" data-value="{{document.system.ammo.capacity}}">
					<input type="text" name="system.ammo.capacity" value="{{document.system.ammo.capacity}}" placeholder="N/A" size=4 />
				</span>
			</div>
		</div>
		{{/if}}
		{{/if}}
		<hr />
		{{!-- Common Item Properties --}}
		{{> "systems/tribe8/templates/sheets/items/partials/gearCommonProperties.html"}}
	</div>
	{{> "systems/tribe8/templates/sheets/items/partials/description.html"}}
	{{> "systems/tribe8/templates/sheets/items/partials/buttons.html"}}
</div>
