<div class="injuries">
	<h2><span>Injuries</span>{{#if document.system.actionPenalty}}<span title="{{localize "tribe8.actor.character.injuries.penalty.full"}}">{{document.system.actionPenalty}}</span>{{/if}}</h2>
	<div class="secondary-attributes">
		<div class="injury-block injury-type">
			<div class="header">Severity</div>
			{{#each document.system.attributes.secondary.physical.thresholds}}
			<div class="injury-name severity-{{@key}}" title="{{this.name}}">{{this.label}}</div>
			{{/each}}
		</div>
		<div class="injury-block injury-threshold">
			<div class="header">Threshold</div>
			{{#each document.system.attributes.secondary.physical.thresholds}}
			<div class="threshold-value severity-{{@key}}" title="Damage threshold at which {{#if (eq @key "death")}}{{this.name}} occurs{{else}}a {{this.name}} is taken{{/if}}">{{this.value}}</div>
			{{/each}}
		</div>
		<div class="injury-block injury-values">
			<div class="header">Current</div>
			{{#each document.system.wounds}}
			<div class="injury-value severity-{{@key}}">
				<input type="number" name="system.wounds.{{@key}}" value="{{this}}" min=0 max=99 title="Current number of {{#with (lookup @root.document.system.attributes.secondary.physical.thresholds @key)}}{{this.name}}s{{/with}}" />
			</div>
			{{/each}}
			<div class="injury-value severity-instant{{#if (gte
			document.system.attributes.secondary.physical.shock.current
			document.system.attributes.secondary.physical.shock.value)
			}} trauma{{/if}}" title="Trauma state"><i class="fa fa-solid fa-skull"></i></div>
		</div>
	</div>
	<h3><span>{{localize "tribe8.actor.character.attributes.secondary.physical.shock.full"}}</span></h3>
	<div class="shock">
	{{#with document.system.attributes.secondary.physical.shock as | shock |}}
	{{#repeat shock.value false}}
		<div class="shock-state">
			{{~#if (gt this (sub shock.value @root.document.system.shock))~}}
			<i class="fa fa-solid fa-skull wounded"></i>
			{{~else~}}
			<i class="fa fa-solid fa-heart healthy"></i>
			{{~/if~}}
		</div>
	{{/repeat}}
	{{/with}}
	</div>
</div>