<div class="load-slider">
	<div class="unladen">
		<div class="unladen-used"></div>
		<div class="load-value unladen-threshold"></div>
	</div>
	<div class="laden">
		<div class="laden-used"></div>
		<div class="load-value laden-threshold"></div>
	</div>
	<div class="burdened">
		<div class="burdened-used"></div>
		<div class="load-value burdened-threshold"></div>
	</div>
	<div class="overload">
		<div class="overload-used"></div>
		<div class="load-value overload-threshold"></div>
	</div>
	<div class="load-value current-load">{{localize "tribe8.item.gear.weight.amount" amount=document.system.carriedWeight}}</div>
</div>
