<div class="maneuvers">
	<h2><span>{{localize "TYPES.Item.maneuver-plural"}}</span><button name="add-maneuver" data-action="addNewItem"><i class="fa fa-solid fa-plus"></i></button></h2>
	{{#if sortedManeuvers}}
	<div class="maneuver">
		<div class="identity points-type">Maneuver (Skill)</div>
		<div class="complexity points-type">Cpx</div>
		<div class="cost points-type">Cost</div>
		<div></div>
	</div>
	{{else}}
	<em>None</em>
	{{/if}}
	{{#each sortedManeuvers.sortedIDs as |maneuverId|}}
	{{#with (lookup ../sortedManeuvers maneuverId)}}
	<div class="maneuver{{#if (and (not this.usesPoints) this.system.fromCpx)}} from-cpx{{/if}}{{#if this.system.granted}} granted{{/if}} draggable" data-item-id="{{this.id}}">
		<div class="identity" data-action="editItem">
			<div class="name">{{this.name}}</div>
			<div class="specific">(
				{{~#if (eq this.system.complexity 0)~}}
					{{~localize "tribe8.item.maneuver.complexity.free"~}}
				{{~else~}}
					{{~#with (lookup ../../skills this.system.skill)~}}
						{{~#if name~}}
							{{~name~}}
						{{~else~}}
							{{~localize "tribe8.errors.maneuver-missing-skill"~}}
						{{~/if~}}
					{{~/with~}}
				{{~/if~}}
			)</div>
		</div>
		<div class="complexity">{{#if (eq this.system.complexity 0)}}1*{{else}}{{this.system.complexity}}{{/if}}</div>
		<div class="cost">
			{{#if (and (not this.usesPoints) this.system.fromCpx)}}
			C
			{{else}}
				{{#if this.system.granted}}
				W
				{{else}}
					{{#if (eq this.system.complexity 0)}}
					F
					{{else}}
					{{this.system.complexity}} {{this.system.points}}{{#if (and this.system.fromCpx this.usesPoints)}}*{{/if}}
					{{/if}}
				{{/if}}
			{{/if}}
		</div>
	</div>
	{{/with}}
	{{/each}}
</div>