<div class="points-summary">
	<h2>Points</h2>
	<dl class="points">
		<dt class="points-type cp">CP</dt>
		<dd class="points-value cp">
			<dl class="points">
				<dt class="attribute-points points-type{{#if (gt document.system.cpSpentAttributes document.system.points.cp.attributes)}} over{{/if}}">Att</dt>
				<dd class="attribute-points point-value{{#if (gt document.system.cpSpentAttributes document.system.points.cp.attributes)}} over{{/if}}"><span class="points-spent">{{document.system.cpSpentAttributes}}</span> / <span class="points-total">{{document.system.points.cp.attributes}}</span></dd>
				<dt class="general-points points-type{{#if (gt document.system.cpSpentGeneral document.system.points.cp.general)}} over{{/if}}">General</dt>
				<dd class="general-points point-value{{#if (gt document.system.cpSpentGeneral document.system.points.cp.general)}} over{{/if}}"><span class="points-spent">{{document.system.cpSpentGeneral}}</span> / <span class="points-total">{{document.system.points.cp.general}}</span></dd>
			</dl>
		</dd>
		<dt class="points-type xp">XP</dt>
		<dd class="points-value xp">
			<dl class="points">
				<dt class="general-points points-type{{#if (gt document.system.points.xp.spent document.system.points.xp.total)}} over{{/if}}"></dt>
				<dd class="general-points points-value{{#if (gt document.system.points.xp.spent document.system.points.xp.total)}} over{{/if}}"><span class="points-spent">{{document.system.points.xp.spent}}</span> / <span class="points-total"><input type="number" name="system.points.xp.total" value="{{document.system.points.xp.total}}" /></span></dd>
			</dl>
		</dd>
		<dt class="points-type edie">EDie</dt>
		<dd class="points-value edie">
			<dl class="points">
				<dt class="points-type edie-total{{#if (lt document.system.edie.total 0)}} over{{/if}}">Total</dt>
				<dd class="points-value edie-total{{#if (lt document.system.edie.total 0)}} over{{/if}}">{{document.system.edie.total}}</dd>
				<dt class="points-type edie-xp{{#if (lt document.system.edie.fromXP 0)}} over{{/if}}">From XP</dt>
				<dd class="points-value edie-xp{{#if (lt document.system.edie.fromXP 0)}} over{{/if}}">{{document.system.edie.fromXP}}</dd>
				<dt class="points-type edie-other">Other</dt>
				<dd class="points-value edie-other"><button name="edie.dec" data-action="decrementEdie" type="button">-</button><input type="number" name="system.edie" value="{{document.system.edie}}" /><button name="edie.inc" data-action="incrementEdie" type="button">+</button></dd>
			</dl>
		</dd>
	</dl>
</div>