<div class="portrait">
	<div class="content">
	{{#if portrait}}
		<img src="{{portrait}}" alt="{{document.name}}">
	{{else}}
	{{localize "tribe8.actor.character.portrait.text"}}
	{{/if}}
	</div>
</div>
