<span class="toggle{{#if toggleRight}} {{toggleRight}}{{/if}}" data-action="{{action}}">
	<span class="toggle-option">{{leftName}}</span>
	<span class="toggle-widget"></span>
	<span class="toggle-option">{{rightName}}</span>
</span>