<div class="gear weapon draggable{{#if (mod @index 2)}} gear-alt{{/if}}" data-item-id="{{id}}" data-container-depth="{{depth}}" data-index="{{@index}}">
	<div class="gear-item-row" data-item-id="{{id}}">
		<div class="identity" data-action="editItem">
			<div class="name">
				{{~name~}}
			</div>
		</div>
		<div class="qty" data-action="editItem">{{#if system.qty}}{{system.qty}}{{else}}1{{/if}}</div>
		<div class="weight" data-action="editItem">{{#if system.weight}}{{system.weight}}{{else}}&mdash;{{/if}}</div>
		<div class="total-weight" data-action="editItem">{{totalWeight}}</div>
		<div class="value" data-action="editItem">
			<span title="{{localize "tribe8.item.gear.value.hint"}}">
			{{~#if system.value~}}
			{{~localize (concat "tribe8.item.gear.value.strings." system.value ".short")~}}
			{{~else~}}
			&mdash;
			{{~/if~}}
			</span>
			{{#if system.valueThreshold~}}
			<span title="{{localize "tribe8.item.gear.valueThreshold.hint"}}">({{system.valueThreshold}})</span>
			{{~/if}}
		</div>
		<div class="complexity" data-action="editItem">{{system.complexity}}</div>
		<div class="carried" data-action="toggleCarried">{{#if system.carried}}C{{/if}}</div><!-- TODO: Carried toggle -->
	</div>
</div>