<div class="character-sheet tab equipment {{tab.cssClass}}" data-group="character" data-tab="equipment">
	<div class="gear-list weapons-list">
		<h2><span>{{localize "TYPES.Item.weapon-plural"}}</span><button name="add-weapon" data-action="addNewItem"><i class="fa fa-solid fa-plus"></i></button></h2>
		<div class="gear-item-row gear-list-header">
			<div class="identity">{{!-- TODO: Add sorting controls to all of these --}}
				<div class="name">{{localize "tribe8.item.name"}}</div>
			</div>
			<div class="qty"><span title="{{localize "tribe8.item.gear.qty.full"}}">{{localize "tribe8.item.gear.qty.short"}}</span></div>
			<div class="weight"><span title="{{localize "tribe8.item.gear.weight.full"}}"><i class="fa fa-solid fa-weight-hanging"></i></span></div>
			<div class="total-weight"><span title="{{localize "tribe8.item.gear.totalWeight.full"}}">&Sigma;<i class="fa fa-solid fa-weight-hanging"></i></span></div>
			<div class="value"><span title="{{localize "tribe8.item.gear.value.full"}}">{{localize "tribe8.item.gear.value.short"}}</span></div>
			<div class="complexity"><span title="{{localize "tribe8.item.gear.complexity.full"}}">{{localize "tribe8.item.gear.complexity.short"}}</span></div>
			<div class="carried"><span title="{{localize "tribe8.item.gear.carried.full"}}"><i class="fa fa-solid fa-suitcase"></i></span></div><!-- TODO: (UI) Carried toggle -->
		</div>
		{{#each weapons.sortedIDs as |weaponID|}}
		{{#with (lookup ../weapons weaponID)}}
		{{> "systems/tribe8/templates/sheets/actors/partials/weapon.html"}}
		{{/with}}
		{{/each}}
		{{#if (not weapons.sortedIDs.length)}}
		<em>None</em>
		{{/if}}
	</div>
	<div class="gear-list armor-list">
		<h2><span>{{localize "TYPES.Item.armor-plural"}}</span><button name="add-armor" data-action="addNewItem"><i class="fa fa-solid fa-plus"></i></button></h2>
		{{#each armor.sortedIDs as |armorID|}}
		{{#with (lookup ../armor armorID)}}
		Armor
		{{/with}}
		{{/each}}
		{{#if (not armor.sortedIDs.length)}}
		<em>None</em>
		{{/if}}
	</div>
	<div class="gear-list">
		<h2><span>{{localize "TYPES.Item.gear-plural"}}</span><button name="add-gear" data-action="addNewItem"><i class="fa fa-solid fa-plus"></i></button></h2>
		<div class="gear-item-row gear-list-header">
			<div class="identity">{{!-- TODO: Add sorting controls to all of these --}}
				<div class="name">{{localize "tribe8.item.name"}}</div>
			</div>
			<div class="qty"><span title="{{localize "tribe8.item.gear.qty.full"}}">{{localize "tribe8.item.gear.qty.short"}}</span></div>
			<div class="weight"><span title="{{localize "tribe8.item.gear.weight.full"}}"><i class="fa fa-solid fa-weight-hanging"></i></span></div>
			<div class="total-weight"><span title="{{localize "tribe8.item.gear.totalWeight.full"}}">&Sigma;<i class="fa fa-solid fa-weight-hanging"></i></span></div>
			<div class="value"><span title="{{localize "tribe8.item.gear.value.full"}}">{{localize "tribe8.item.gear.value.short"}}</span></div>
			<div class="complexity"><span title="{{localize "tribe8.item.gear.complexity.full"}}">{{localize "tribe8.item.gear.complexity.short"}}</span></div>
			<div class="carried"><span title="{{localize "tribe8.item.gear.carried.full"}}"><i class="fa fa-solid fa-suitcase"></i></span></div><!-- TODO: (UI) Carried toggle -->
		</div>
		{{#each gear.sortedIDs as |gearID|}}
		{{#with (lookup ../gear gearID)}}
			{{#if system.isContainer}}
		<details class="collapsible-gear-container" open>
			<summary class="container">
			{{/if}}
				{{> "systems/tribe8/templates/sheets/actors/partials/gear.html"}}
			{{#if system.isContainer}}
			</summary>
			<blockquote class="contained">
			{{else}}
				{{!-- See if there's a next item in the list --}}
				{{#if (lookup ../../gear.sortedIDs (add @index 1))}}
					{{!-- There is a next item --}}
					{{#with (lookup ../../gear (lookup ../../gear.sortedIDs (add @index 1))) as | nextGear |}}
					{{#if (ne nextGear.system.storage ../system.storage)}}
						{{!-- Next item has different storage, may need to do something --}}
						{{#if (lt nextGear.depth ../depth)}}
							{{!-- Next item has less depth close blockquotes and details to difference --}}
							{{#repeat (sub ../depth nextGear.depth)}}
			</blockquote>
		</details>
							{{/repeat}}
						{{else}}
							{{!-- Next item has greater depth, so we just let the loop do its thing --}}
						{{/if}}
					{{else}}
						{{!-- Next item has the same storage, so we let the loop do its thing --}}
					{{/if}}
					{{/with}}
				{{else}}
					{{!-- There is no next item, so close blockquote and details to current depth --}}
					{{#repeat depth}}
			</blockquote>
		</details>
					{{/repeat}}
				{{/if}}
			{{/if}}
		{{/with}}
		{{/each}}
		{{#if (not gear.sortedIDs.length)}}
		<em>None</em>
		{{/if}}
	</div>
</div>