<div class="character-sheet tab equipment {{tab.cssClass}}" data-group="character" data-tab="equipment">
	<div class="weapons">
		<h2><span>{{localize "TYPES.Item.weapon-plural"}}</span><button name="add-skill" data-action="addNewItem"><i class="fa fa-solid fa-plus"></i></button></h2>
	</div>
	<div class="armor">
		<h2><span>{{localize "TYPES.Item.armor-plural"}}</span><button name="add-skill" data-action="addNewItem"><i class="fa fa-solid fa-plus"></i></button></h2>
	</div>
	<div class="gear">
		<h2><span>{{localize "TYPES.Item.gear-plural"}}</span><button name="add-skill" data-action="addNewItem"><i class="fa fa-solid fa-plus"></i></button></h2>
		{{#each gear}}
		{{this.name}}<br />
		{{/each}}
	</div>
</div>