<div class="character-sheet tab main {{tab.cssClass}}" data-group="character" data-tab="main">
	<div class="left-column">
		{{> "systems/tribe8/templates/sheets/actors/partials/portrait.html"}}
		{{> "systems/tribe8/templates/sheets/actors/partials/basic_info.html"}}
		{{> "systems/tribe8/templates/sheets/actors/partials/attributes.html"}}
		{{> "systems/tribe8/templates/sheets/actors/partials/points.html"}}
	</div>
	<div class="middle-column">
		{{> "systems/tribe8/templates/sheets/actors/partials/skills.html"}}
	</div>
	<div class="right-column">
		{{> "systems/tribe8/templates/sheets/actors/partials/pf.html"}}
		{{#if hasMagicSkills}}
		{{> "systems/tribe8/templates/sheets/actors/partials/magic.html"}}
		{{/if}}
		{{#if hasCombatSkills}}
		{{> "systems/tribe8/templates/sheets/actors/partials/maneuvers.html"}}
		{{/if}}
		{{> "systems/tribe8/templates/sheets/actors/partials/injuries.html"}}
	</div>
</div>
