<div class="character-sheet tab abilities {{tab.cssClass}}" data-group="character" data-tab="abilities">
	{{> "systems/tribe8/templates/sheets/actors/partials/pf.hbs"}}
	{{#if hasMagicSkills}}
	{{> "systems/tribe8/templates/sheets/actors/partials/magic.hbs"}}
	{{/if}}
</div>
