<div class="character-sheet tab combat {{tab.cssClass}}" data-group="character" data-tab="combat">
	<div class="combat-lists">
		{{> "systems/tribe8/templates/sheets/actors/partials/combat_armor.hbs"}}
		{{> "systems/tribe8/templates/sheets/actors/partials/combat_maneuvers.hbs"}}
	</div>
	<div class="combat-tools">
		{{> "systems/tribe8/templates/sheets/actors/partials/combat_attack-summary.hbs"}}
		{{> "systems/tribe8/templates/sheets/actors/partials/combat_skills.hbs"}}
		{{> "systems/tribe8/templates/sheets/actors/partials/combat_weapons.hbs"}}
		{{> "systems/tribe8/templates/sheets/actors/partials/combat_situational.hbs"}}
	</div>
</div>
