<div class="character-sheet tab equipment {{tab.cssClass}}" data-group="character" data-tab="equipment">
	<div class="gear-lists">
		{{> "systems/tribe8/templates/sheets/actors/partials/weapons-list.hbs"}}
		{{> "systems/tribe8/templates/sheets/actors/partials/armor-list.hbs"}}
		{{> "systems/tribe8/templates/sheets/actors/partials/gear-list.hbs"}}
	</div>
	{{> "systems/tribe8/templates/sheets/actors/partials/load-slider.hbs"}}
</div>
