<div class="character-sheet footer {{tab.cssClass}}">
	{{> "systems/tribe8/templates/sheets/actors/partials/points.hbs"}}
	{{> "systems/tribe8/templates/sheets/actors/partials/edie.hbs"}}
	{{> "systems/tribe8/templates/sheets/actors/partials/injuries.hbs"}}
	{{> "systems/tribe8/templates/sheets/actors/partials/shock.hbs"}}
</div>
