<div class="character-sheet header {{tab.cssClass}}">
	<div class="panes-column">
		{{> "systems/tribe8/templates/sheets/actors/partials/portrait.hbs"}}
	</div>
	<div class="panes-column">
		{{> "systems/tribe8/templates/sheets/actors/partials/basic_info.hbs"}}
		{{> "systems/tribe8/templates/sheets/actors/partials/attributes.hbs"}}
	</div>
	<div class="panes-column">
		<div class="game-logo"></div>
		{{> "systems/tribe8/templates/sheets/actors/partials/secatts.hbs"}}
	</div>
</div>
