<div class="primary-attributes">
	<h2>Attributes</h2>
	{{#each document.system.attributes.primary as |data att|}}
	<div class="attribute-block">
		<div class="name">{{localize data.label}}</div>
		<div class="value">{{data.value}}</div>
		<div class="points">
			<div class="cp">
				<input type="number" value="{{#if data.cp}}{{data.cp}}{{else}}0{{/if}}" name="system.attributes.primary.{{att}}.cp"  />
				<label for="system.attributes.primary.{{att}}.cp">CP</label>
			</div>
			<div class="xp">
				<input type="number" value="{{#if data.xp}}{{data.xp}}{{else}}0{{/if}}" name="system.attributes.primary.{{att}}.xp"  />
				<label for="system.attributes.primary.{{att}}.xp">XP</label>
			</div>
		</div>
	</div>
	{{#if (eq @index 4)}}
	<hr />
	{{/if}}
	{{/each}}
</div>
<div class="secondary-attributes">
	<h3>Secondary Attributes</h3>
	{{#each document.system.attributes.secondary.physical as |attribute key|}}
	{{#if (or (eq key "shock") (eq key "thresholds"))}}
	{{else}}
	<div class="attribute-block">
		<div class="name">{{localize this.label}}</div>
		<div class="value">{{this.value}}</div>
	</div>
	{{/if}}
	{{/each}}
</div>