<dt><span>Aspects</span><button name="add-aspect" data-action="addNewItem"><i class="fa fa-solid fa-plus"></i></button></dt>
<dd>
	{{#if aspects}}
	{{#each aspects}}
	<div class="aspect draggable" data-item-id="{{this.id}}">
		<div class="identity{{# if this.system.granted}} granted{{/if}}" data-action="editItem">
			<div class="name">{{this.name}}</div>
			<div class="specific">({{this.system.tribe}})</div>
		</div>
		<div class="complexity">Cpx {{this.system.complexity}}</div>
		<div class="cost">
			{{#if this.system.granted}}
			W
			{{else}}
			{{this.system.points}}
			{{/if}}
		</div>
	</div>
	{{/each}}
	{{else}}
	<em>None</em>
	{{/if}}
</dd>