<div class="character-basics">
	<div class="player field">
		<label for="player">Player</label>
		<input type="text" name="player" readonly value="{{#if playerName}}{{playerName}}{{else}}NPC{{/if}}" />
	</div>
	<div class="name field">
		<label for="name">Name</label>
		<input type="text" name="name" value="{{document.name}}" />
	</div>
	<div class="tribe field">
		<label for="tribe">Tribe</label>
		<input type="text" name="system.tribe" value="{{document.system.tribe}}" />
	</div>
	<div class="role field">
		<label for="document.system.role">Role</label>
		<input type="text" name="system.role" value="{{document.system.role}}" />
	</div>
</div>