<div class="character-sheet">
	<div class="left-column">
		<div class="character-basics">
			<div class="player field">
				<label for="player">Player</label>
				<input type="text" name="player" readonly value="{{user.name}}" />
			</div>
			<div class="name field">
				<label for="name">Name</label>
				<input type="text" name="name" value="{{document.name}}" />
			</div>
			<div class="tribe field">
				<label for="tribe">Tribe</label>
				<input type="text" name="system.tribe" value="{{document.system.tribe}}" />
			</div>
			<div class="role field">
				<label for="document.system.role">Role</label>
				<input type="text" name="system.role" value="{{document.system.role}}" />
			</div>
		</div>
		<div class="primary-attributes">
			<h2>Attributes</h2>
			{{#each document.system.attributes.primary as |data att|}}
			<div class="attribute-block">
				<div class="name">{{localize data.label}}</div>
				<div class="value">{{data.value}}</div>
				<div class="points">
					<div class="cp">
						<input type="number" value="{{#if data.cp}}{{data.cp}}{{else}}0{{/if}}" name="system.attributes.primary.{{att}}.cp"  />
						<label for="system.attributes.primary.{{att}}.cp">CP</label>
					</div>
					<div class="xp">
						<input type="number" value="{{#if data.xp}}{{data.xp}}{{else}}0{{/if}}" name="system.attributes.primary.{{att}}.xp"  />
						<label for="system.attributes.primary.{{att}}.xp">XP</label>
					</div>
				</div>
			</div>
			{{#if (eq @index 4)}}
			<hr />
			{{/if}}
			{{/each}}
		</div>
		<div class="secondary-attributes">
			{{#each document.system.attributes.secondary.physical as |attribute key|}}
			{{#if (or (eq key "shock") (eq key "thresholds"))}}
			{{else}}
			<div class="attribute-block">
				<div class="name">{{localize this.label}}</div>
				<div class="value">{{this.value}}</div>
			</div>
			{{/if}}
			{{/each}}
		</div>
		<div class="synthesis">
			<h2>Synthesis</h2>
			<dl>
				<dt>Synthesis Skill</dt>
				<dd></dd>
				<dt>Eminences</dt>
				<dd></dd>
				<dt>Aspects</dt>
				<dd></dd>
			</dl>
		</div>
		<div class="points-summary">
			<h2>Points</h2>
			<dl>
				<dt>CP</dt>
				<dd>
					<dl>
						<dt>Att</dt>
						<dd>{{document.system.points.cp.attributesSpent}} / {{document.system.points.cp.attributes}}</dd>
						<dt>General</dt>
						<dd>{{document.system.points.cp.generalSpent}} / {{document.system.points.cp.general}}</dd>
					</dl>
				</dd>
				<dt>XP</dt>
				<dd>
					<dl>
						<dt></dt>
						<dd>{{document.system.points.xp.spent}} / <input type="number" name="system.points.xp.total" value="{{document.system.points.xp.total}}" /></dd>
					</dl>
				</dd>
				<dt>EDie</dt>
				<dd>
					<dl>
						<dt></dt>
						<dd>{{document.system.edie.total}}</dd>
						<dt>From XP</dt>
						<dd>{{document.system.edie.fromXP}}</dd>
						<dt>Other</dt>
						<dd><button name="edie.dec" data-action="decrementEdie">-</button><input type="number" name="system.edie.other" value="{{document.system.edie.other}}" /><button name="edie.inc" data-action="incrementEdie">+</button></dd>
					</dl>
				</dd>
			</dl>
		</div>
	</div>
	<div class="middle-column">
		<h2>Skills</h2>
		<!--
		<div class="skill-points-toggle">
		</div>
		-->
		<div class="skills">
			{{#each skills as |skill|}}
			<div class="skill" data-uuid="{{skill.uuid}}">
				<div class="identity" data-action="editItem" data-action-slug="edit-skill-{{skill.id}}">
					<div class="name">
						<!--<input type="text" value="{{skill.system.name}}" name="skill.{{skill.uuid}}.system.name">-->
						{{skill.system.name}}
					</div>
					{{#if skill.system.specify}}
					<div class="specific">
						<!--<input type="text" value="{{skill.system.specific}}" name="skill.{{skill.uuid}}.system.specific">-->
						({{skill.system.specific}})
					</div>
					{{/if}}
				</div>
				{{#if skill.specializations}}
				<div class="specializations">
					<label for="system.{{skill.uuid}}.specializations">Specializations</label>
					<div class="specialization-list" title="{{skill.specializations}}">{{skill.specializations}}</div>
					<!--<textarea name="skill.{{skill.uuid}}.specializations" title="Specializations">{{skill.specializations}}</textarea>-->
				</div>
				{{/if}}
				<div class="points-block">
					<div class="points-type">Level</div>
					<div class="value">{{skill.system.level}}</div>
					<!--
					<div class="points">
						<div class="cp">
							<input type="number" value="{{#if skill.system.points.level.cp}}{{skill.system.points.level.cp}}{{else}}0{{/if}}" name="skill.{{skill.uuid}}.system.points.level.cp"  />
							<label for="skill.{{skill.uuid}}.system.points.level.cp">CP</label>
						</div>
						<div class="xp">
							<input type="number" value="{{#if skill.system.points.level.xp}}{{skill.system.points.level.xp}}{{else}}0{{/if}}" name="skill.{{skill.uuid}}.system.points.level.xp"  />
							<label for="skill.{{skill.uuid}}.system.points.level.xp">XP</label>
						</div>
					</div>
					-->
				</div>
				<div class="points-block">
					<div class="points-type">Cpx</div>
					<div class="value">{{skill.system.cpx}}</div>
					<!--
					<div class="points">
						<div class="cp">
							<input type="number" value="{{#if skill.system.points.cpx.cp}}{{skill.system.points.cpx.cp}}{{else}}0{{/if}}" name="skill.{{skill.uuid}}.system.points.cpx.cp"  />
							<label for="system.{{skill.uuid}}.points.cpx.cp">CP</label>
						</div>
						<div class="xp">
							<input type="number" value="{{#if skill.system.points.cpx.xp}}{{skill.system.points.cpx.xp}}{{else}}0{{/if}}" name="skill.{{skill.uuid}}.system.points.cpx.xp"  />
							<label for="system.{{skill.uuid}}.points.cpx.xp">XP</label>
						</div>
					</div>
					-->
				</div>
				<!-- TODO: Ownership-based display -->
				<div class="points-block edie-block">
					<div class="points-type">EDie</div>
					<div class="value">
						<input type="number" value="{{skill.system.eDieSpent}}" name="skill.{{skill.uuid}}.system.eDieSpent"  />
						<div class="edie-buttons">
							<button name="edie.inc" data-action="incrementEdie" title="SPEND an E-Die on this skill. It will be removed from the character's general E-Die pool, if available, or spend from available XP if not.">+</button>
							<button name="edie.dec" data-action="decrementEdie" title="Remove SPENT E-Die. It will be added back to the character's general E-Die pool">-</button>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
		<button name="add-skill" data-action="addNewItem">Add</button>
	</div>
	<div class="right-column">
		<div class="perks-flaws">
			<h2>Perks &amp; Flaws</h2>
			<h3>Perks</h3>
			{{#each perksAndFlaws as |pf|}}
			{{#with (lookup @root.perksAndFlaws (sub @index 1)) as | prevItem |}}
			{{#if (and (eq pf.type 'flaw') (eq prevItem.type 'perk'))}}
			<h3>Flaws</h3>
			{{/if}}
			{{/with}}
			<div class="pf {{this.type}}{{#if this.system.granted}} granted{{/if}}" data-id="{{this.id}}">
				<div class="identity" data-action-slug="edit-pf-{{this.id}}" data-action="editItem">
					<div class="name" data-action-slug="edit-pf-{{this.id}}" data-action="editItem">{{#if (eq this.type 'perk')}}+{{else}}-{{/if}} {{this.system.name}}{{#if this.system.ranked}} {{roman this.system.points.length}}{{/if}}</div>
					{{#if this.system.specific}}
					<div class="specific">({{this.system.specific}})</div>
					{{/if}}
				</div>
			</div>
			{{/each}}
			<button name="add-pf" data-action="addNewItem">Add</button>
		</div>
		<div class="maneuvers">
			<h2>Combat Maneuvers</h2>
			{{#each sortedManeuvers}}
			<div class="maneuver" data-id="{{this.id}}">
				<div class="identity" data-action-slug="edit-maneuver-{{this.id}}" data-action="editItem">
					<div class="name">{{this.name}}</div>
					<div class="specific">({{this.system.forSkill}})</div>
				</div>
			</div>
			{{/each}}
			<!--
			Maneuver, skill it applies to, whether or not it's free
			Sort by skill, then by complexity (descending), then by free (yes -> no)
			-->
			<button name="add-maneuver" data-action="addNewItem">Add</button>
		</div>
		<div class="shock">
			<h2>System Shock</h2>
			{{#repeat document.system.attributes.secondary.physical.shock.value false}}
			<input type="checkbox" name="systemShock[{{this}}]" value="1"{{#if (gte document.system.attributes.secondary.physical.shock.current this)}} checked{{/if}} />
			{{/repeat}}
		</div>
	</div>
</div>
