.tribe8.sheet.item.aspect {
	gap: 0.4rem;

div.costs:nth-child(2) {
	margin-right: 5%;
}
div.cost-field input[type="radio"] {
	margin: 0;
}
div.granted input {
	margin: revert;
	padding: revert;
	vertical-align: revert;
	bottom: revert;
}
div.effects {
	display: flex;
	flex-flow: row wrap;
	gap: 0.4rem;
	justify-content: center;
	margin: 0.2rem 0;
}
div.effect {
	display: block;
	gap: 0.4rem;
	align-items: center;
	break-inside: avoid;
	justify-content: end;
}
div.effect div.effect-property {
	text-align: center;
	order: 2;
}
div.effect div.effect-input {
	order: 1;
}
div.effect input {
	min-width: 4ch;
	width: auto;
	text-align: center;
	grid-area: 1/1;
}
span.input-sizer::after {
	padding: 0 0.5rem;
	margin: 0;
	border: 1px solid;
}

}