.tribe8.sheet.item {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	height: fit-content;

div.item-sheet {
	height: fit-content;
	display: flex;
	flex-flow: column;
}

div.name,
div.specific {
	display: block;
}

div.name input[type=text],
div.specific input[type=text] {
	height: 100%;
}

div.specific {
	border-radius: 1rem;
	border: 1px solid;
	border-top: none;
	white-space: nowrap;
	vertical-align: middle;
	font-size: 1.15rem;
}
div.specific input[type=text] {
	padding-left: 0.5rem;
}

div.costs {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	gap: 0.4rem;
	padding: 0.4rem 0;
	margin: 0.2rem 0;
	background: var(--alt-background);
}
div.cost-field {
	flex: 0 0 min-content;
	display: grid;
	grid-template-columns: min-content min-content;
	align-items: center;
	gap: 0.4rem;
	line-height: 100%;
	padding: 0 0 0 0;
	align-content: center;
}
div.cost-field-checkbox {
	gap: 0.2rem;
}
div.cost-field label {
	white-space: nowrap;
}
div.cost-field input[type=text],
div.cost-field input[type=number] {
	min-width: 2ch;
}
div.base-cost,
div.per-rank {
	justify-content: center;
	margin-right: 1.2rem;
}
div.base-cost input,
div.per-rank input {
	width: 4ch;
	text-align: center;
}

div.specify,
div.ranked,
div.granted {
	text-align: left;
	white-space: nowrap;
	line-height: 100%;
	flex-basis: 2rem;
	align-content: center;
}
div.ranked input,
div.specify input,
div.granted input {
	margin: 0;
	padding: 0;
	vertical-align: middle;
	/* bottom: 0.08rem; */
}

div.description {
	width: 100%;
	display: flex;
	flex-flow: column;
	flex: 1 1 fit-content;
}
div.description h3 {
	flex: 0 0 fit-content;
}
div.description>prose-mirror {
	flex: 1 0 fit-content;
	min-height: 12ex;
}
div.description div.editor-container,
div.description div.editor-content {
	min-height: 12ex;
	height: fit-content;
	position: relative;
}

div.itemButtons {
	width: 100%;
	justify-items: center;
}

div.itemButtons button {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

}