.tribe8.sheet.item.skill {

div.costs {
	gap: 0;
}

div.points-block input { /* EDie only */
	text-align: center;
	height: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}
div.points button {
	flex: 1 0 0;
}
.edie-too-low {
	color: var(--color-edie-low);
}

div.specializations {
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
}
h3 {
	margin-top: 0.4rem;
}
div.specializations label {
	width: revert;
	background: unset;
	font-size: revert;
	text-align: revert;
	color: revert;
}
div.specialization,
div.add-specialization {
	display: grid;
	grid-template-columns: 1fr repeat(6, min-content) 2.5rem;
	align-items: center;
}
div.add-specialization {
	margin-top: 0.4rem;
}
div.add-specialization input[type=text] {
	margin-right: 0.25rem;
}
div.specialization button,
div.add-specialization button {
	margin-left: 0.25rem;
}

}
