.tribe8.sheet.actor.character, .tribe8.tribe8app.attributes {
	height: 100%;

nav {
	font-family: var(--font-header);
	position: absolute;
	top: 0;
	height: 2.5rem;
	align-items: center;
	justify-content: center;
	margin-inline: auto;
	left: 0;
	right: 0;
	width: fit-content;
	border-width: 1px;
	border-radius: 0 0 2.5rem 2.5rem;
	border-top: 0;
	padding: 0 2rem;
	background: none;
}

.tab[data-tab]:not(.active) {
	display: none; /* !important; */
}

div.character-sheet {
	display: flex;
	flex-flow: row;
	gap: 0.8rem;
	height: 100%;
}

h2 {
	display: grid;
	grid-template-columns: 1fr min-content;
	align-items: center;
}
h2 span:first-child {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
h2 button {
	min-height: 0;
	padding: 0.15rem 0.4rem 0.05rem;
	height: calc(100% - 0.2rem);
	display: block;
}
h2 button i.fa, h3 button i.fa, dt button i.fa {
	display: block;
	margin-bottom: -0.065rem; /* Account for weird vertical offset */
}

dl {
	margin-left: 0.25rem;
}
dl>dt {
	font-weight: bold;
	font-size: 1.1rem;
	font-variant: small-caps;
}

h3 {
	border-image:
		linear-gradient(
			to right,
			transparent,
			var(--color-text-emphatic) 5%,
			transparent
		) 1;
	margin-top: 0.25rem;
	padding-left: 0.25rem;
}

div.character-sheet>div>div:first-child>h2 {
	margin-top: 0;
}

div.character-sheet div.left-column,
div.character-sheet div.middle-column,
div.character-sheet div.right-column {
	flex: 0 0 15rem;
	display: flex;
	flex-flow: column;
	height: 100%;
	overflow-y: auto;
	overflow-x: auto;
	gap: 0.5rem;
}
div.character-sheet div.middle-column {
	flex: 2 2 auto;
	overflow-y: hidden; /* Handled by the skills container itself */
	gap: 1rem;
	margin-top: 1.5rem; /* To steer clear of the navbar */
}
div.character-sheet div.middle-column h2 {
	margin-top: 0;
	margin-bottom: 0;
}

div.character-basics {
	/*
	display: block;
	column-count: 2;
	gap: 0.5rem;
	*/
	display: flex;
	flex-flow: column;
}
div.character-basics input {
	width: 100%;
	flex: 1 1 0;
	padding: revert;
}
div.character-basics div.field {
	display: flex;
	flex-flow: row;
	width: 100%;
}
div.character-basics div.field label {
	width: 3rem;
	align-content: center;
}

div.portrait {
	width: 100%;
	position: relative;
	border: 1px solid;
	border-radius: 0.5rem;
	cursor: pointer;
}
div.portrait:after {
	content: "";
	display: block;
	padding-bottom: 100%; /* Black magic */
}
div.portrait div.content {
	position: absolute;
	width: 100%;
	height: 100%;
	align-content: center;
	text-align: center;
	overflow: hidden;
	font-size: 5rem;
	line-height: 85%;
	font-family: var(--font-header);
	text-transform: uppercase;
}

div.primary-attributes, div.secondary-attributes {
	display: flex;
	flex-flow: row wrap;
}
div.primary-attributes {
	cursor: pointer
	/* margin-bottom: 1rem; */
}
div.primary-attributes h2 {
	cursor: auto;
}
div.secondary-attributes {
	margin-bottom: 0.4rem;
}

--attribute-block-top-corners: 0.5rem;
--attribute-block-bottom-corners: 0.75rem;
div.attribute-block {
	display: flex;
	flex-flow: column nowrap;
	flex: 1 0 0;

	div.name {
		text-align: center;
		background: var(--color-label-background);
		color: var(--color-label-text);
		font-weight: bold;
		display: block;
		text-transform: uppercase;
		border-top: 1px solid;
		border-right: 1px solid #888;
		border-radius: var(--attribute-block-top-corners) var(--attribute-block-top-corners) 0 0;
	}
	div.value {
		min-width: unset;
	}
	div.points>div {
		flex: 1 0 0;
	}
	div.points input {
		min-width: 3ch;
		width: 100%;
	}
}
h2+div.attribute-block div.value,
h3+div.attribute-block div.value,
hr+div.attribute-block div.value,
div.attribute-block:first-child div.value {
	border-radius: 0 0 0 var(--attribute-block-bottom-corners);
}
div.attribute-block:has(+hr) div.value,
div.attribute-block:last-child div.value,
div.attribute-block:has(+h3) div.value {
	border-radius: 0 0 var(--attribute-block-bottom-corners) 0;
}
div.move-rates {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	width: 100%;
	overflow: hidden;
}
div.attribute-block.move-rate {
	width: 100%;
	overflow: hidden;
}
div.attribute-block.move-rate div.name {
	text-overflow: ellipsis;
	font-size: 80%;
}
div.attribute-block.move-rate div.value {
	text-overflow: ellipsis;
	font-size: 0.9rem;
}
div.primary-attributes:hover div.attribute-block div.name {
	background: var(--color-label-background-alt);
}
div.primary-attributes div.attribute-block:hover div.value {
	background: var(--color-background-alt);
}

div.magic {
	h3 {
		display: grid;
		grid-template-columns: 1fr min-content;
		align-items: end;
		border-image:
			linear-gradient(
				to right,
				transparent,
				var(--color-text-emphatic) 5%,
				transparent 66%,
				var(--color-text-emphatic) 95%,
				transparent
			) 1;
	}
	h3.has-skill {
		cursor: pointer;
	}
	span:last-child {
		font-size: 85%;
	}
	div.identity {
		display: grid;
		grid-template-columns: 1fr min-content;
	}
	div.identity div.specific {
		text-align: right;
	}
	dt {
		display: grid;
		grid-template-columns: 1fr min-content;
		align-items: center;
		margin: 0;
		line-height: 100%;
	}
	dt button {
		min-height: 0;
		font-size: .8rem;
		padding: 0.15rem 0.15rem 0 0.15rem;
		line-height: 100%;
		height: min-content;
		display: block;
	}
	dd {
		margin-bottom: 0.2rem;
	}
	dd>div {
		margin-left: -1rem; /* Negates margin imposed by parent dd */
		padding-left: 1rem;
		align-items: center;
	}
	dd>div:nth-child(odd) {
		background: var(--color-background-alt);
	}
	dd>div div.identity {
		display: block;
	}
	dd>div div.identity>div {
		display: inline-block;
		vertical-align: bottom;
	}
	div.eminence {
		display: grid;
		grid-template-columns: 1fr min-content;
		gap: 0.2rem;
	}
	div.eminence.used {
		background: none;
		background-image: linear-gradient(
			to right,
			transparent,
			var(--color-eminence-used) 2ch,
			transparent
		);
	}
	div.eminence div.used {
		display: flex;
		width: 1.05rem;
		align-items: center;
		text-align: right;
		padding: 0.1rem 0 0.1rem 0.1rem;
		box-sizing: content-box;
	}
	div.eminence div.used input[type="checkbox"] {
		margin: 0;
		height: 1rem;
		width: 1rem;
		appearance: none;
		border: 1px solid var(--color-button-border);
		border-radius: 40%;
		background: none;
	}
	div.eminence div.used input[type="checkbox"] {
		border-color: var(--color-button-border-hover);
	}
	div.eminence div.used input[type="checkbox"]:checked {
		background: none;
		background-image: radial-gradient(
			circle,
			var(--color-text-primary),
			var(--color-text-primary) 50%,
			transparent 60%
		);
	}
	div.eminence div.used input[type="checkbox"]::before {
		display: none;
	}
	div.eminence div.used input[type="checkbox"]::after {
		display: none;
	}
	div.aspect  {
		display: flex;
		flex-flow: row;
		gap: 0.4rem;
		justify-content: space-between;
	}
	div.totem {
		display: grid;
		grid-template-columns: 1fr 2rem;
		gap: 0.2rem;
	}
	dd>div.granted {
		background: none;
		background-image: linear-gradient(
			to right,
			transparent,
			var(--color-aspect-granted) 2ch,
			transparent
		);
	}
	dd>div.granted:nth-child(odd) {
		background-image: linear-gradient(
			to right,
			transparent,
			var(--color-aspect-granted-alt) 2ch,
			transparent
		);
	}
	dd>div div.cost,
	dd>div div.complexity {
		white-space: nowrap;
	}
	div.aspect div.identity {
		flex: 0 0 fit-content;
	}
	div.aspect div.complexity {
		flex: 0 0 3rem;
		text-align: center;
	}
	dd>div div.cost {
		flex: 0 0 1.5rem;
		text-transform: uppercase;
		text-align: center;
	}
}

div.points-summary dl {
	display: grid;
	grid-template-columns: 2.5rem 1fr;
}
div.points-summary dt,
div.points-summary dd {
	display: block;
	margin: 0;
	font-size: 0.9rem;
	font-variant: normal;
}
div.points-summary>dt:nth-child(0, 2+4n)
div.points-summary>dt:nth-child(1, 3+4n) {
	background: var(--color-background-alt);
}
div.points-summary>dl dl {
	display: grid;
	grid-template-columns: 4rem 1fr;
}
div.points-summary>dl dl dd {
	text-align: right;
}
div.points-summary>dl dl dd.edie-total,
div.points-summary>dl dl dd.edie-xp {
	padding-right: calc(0.5rem + 1rem + 3px); /* 1/4 the input plus one button, plus intervening borders */
}
div.points-summary input {
	padding: 0;
	text-align: center;
	margin: 0;
	line-height: 100%;
	height: 1rem;
	width: 2rem;
	border-radius: 0;
	border: 1px ridge #888;
}
div.points-summary button {
	display: inline-flex;
	padding: 0;
	text-align: center;
	margin: 0;
	line-height: 100%;
	height: 1rem;
	width: 1rem;
	min-height: unset;
}
div.points-summary .over,
div.points-summary .over input {
	color: var(--color-points-over-text);
	font-weight: bold;
	background: var(--color-points-over-background);
}
div.points-summary>dt:nth-child(0, 2+4n) dt.over
div.points-summary>dt:nth-child(1, 3+4n) dd.over,
div.points-summary>dt:nth-child(1, 3+4n) dd.over input {
	background: var(--color-points-over-background-alt);
}

div.identity {
	cursor: pointer;
}
div.identity:hover {
	font-weight: bold;
}

div.skills {
	overflow-y: auto;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	column-gap: 0.4rem;
	gap: 0.6rem;
	width: 100%;
	min-width: min-content;
	flex: 1 1 min-content;
	/* height: 100%; */ /* Must not be set to make columns flow properly */

	div.skill {
		display: grid;
		grid-template-columns: 1fr repeat(3, min-content);
		min-width: fit-content;
		width: unset;
		position: relative;
		align-items: stretch;
		break-inside: avoid;
	}
	div.skill:has(div.specializations) {
		grid-template-columns: auto auto repeat(3, min-content);
	}
	div.skill:nth-child(odd) {
		background: var(--color-background-alt);
	}
	div.identity {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 0.25rem;
		align-items: center;
		width: unset;
		margin-right: 0.4rem;
		overflow: hidden;
		max-height: 2.5rem;
	}
	div.identity input { /* Old-style */
		padding: 0;
		height: 1.5rem;
		background: none;
		border: 1px solid;
	}
	div.identity>div {
		padding: 0;
		/* height: 1.5rem; */
		background: none;
		white-space: nowrap;
	}
	div.identity,
	div.identity input,  /* Old-style */
	div.identity>div {
		font-size: 1rem;
	}
	div.identity div.name {
		/* flex: 0 0 fit-content; */
		display: block;
	}
	div.identity div.specific,
	div.identity div.name:last-child {
		/* flex: 1 1 fit-content; */
		display: block;
		text-overflow: ellipsis;
	}
	div.identity div.name input { /* Old-style */
		border-top: 0;
		border-left: 0;
		border-right: 0;
	}
	div.identity div:first-child input, /* Old-style */
	div.identity div:first-child {
		padding-left: 0.1rem;
		padding-right: 0.35rem;
	}
	div.identity div:first-child {
		padding-right: 0;
	}
	div.identity div.specific input {  /* Old-style */
		border-radius: 0.5rem;
		padding: 0.25rem;
		border-top: none;
	}
	div.points-type {
		min-width: unset;
	}
	div.value {
		min-width: unset;
		width: 2.4rem;
		box-sizing: border-box;
		overflow: hidden;
		flex: 0 0 1.4rem; /* Vertical sizing */
	}
	div.points {
		flex: 1 0 0;
	}
	div.points input {
		width: 3ch;
	}
	div.points button {
		flex: 1 1 0;
		height: unset;
		min-height: unset;
	}
	div.edie-block {
		margin-left: 0.4rem;
	}
	div.edie-block div.points {
		padding-bottom: 0.25rem;
	}
	div.edie-block div.value {
		display: grid;
		grid-template-columns: 1fr min-content;
		border: none;
		width: 3rem;
	}
	div.edie-block div.value input {
		font-size: 100%;
		padding: 0;
		margin: 0;
		text-align: center;
		height: 100%;
		line-height: unset;
	}
	div.edie-block div.edie-buttons {
		height: calc(100% - 2px);
		overflow: hidden;
		display: grid;
		grid-template-rows: 1fr 1fr;
	}
	div.edie-block div.edie-buttons button {
		min-height: unset;
		height: unset;
		width: unset;
		min-width: unset;
		overflow: hidden;
		margin: 0;
	}
	div.specializations {
		display: flex;
		flex: 2 0 6rem;
		flex-flow: column;
		margin-top: unset;
		margin-bottom: unset;
		height: unset;
		margin-right: 0.25rem;
		overflow: hidden;
	}
	div.specializations label {
		text-align: left;
		font-weight: bold;
		font-variant: small-caps;
		font-size: 90%;
		padding: 0.1rem 0.2rem;
		border-radius: 0.25rem 0.5rem 0 0;
		height: calc(1rem - 1px);
		flex: 0 0 calc(1rem - 1px);;
		margin-top: 1px;
		text-overflow: ellipsis;
		overflow: hidden clip;
	}
	div.specializations textarea { /* Old-style */
		width: 100%;
		min-height: 1rem;
		font-size: 0.8rem;
		line-height: 100%;
		min-width: 6rem;
		padding: 0.2rem 0.35rem;
		background: none;
		border: 1px solid;
		border-left: 0;
		border-right: 0;
		border-radius: 0 0 0.5rem 0.5rem;
		resize: none;
		flex: 1 0 1rem;
		overflow: hidden auto;
		text-overflow: ellipsis;
	}
	div.specializations div.specialization-list {
		width: 100%;
		min-height: 1rem;
		font-size: 0.8rem;
		line-height: 100%;
		padding: 0.2rem 0.35rem;
		background: none;
		border: 1px solid;
		border-left: 0;
		border-right: 0;
		border-radius: 0 0 0.5rem 0.5rem;
		resize: none;
		flex: 1 0 1rem;
	}
	div.buttons {
		position: absolute;
		display: flex;
		flex-flow: row;
		height: 1.7rem;
		padding: 0.2rem;
		top: 2.6rem;
		box-sizing: border-box;
		gap: 0.2rem;
	}
	div.buttons button {
		height: 1.3rem;
		width: 1.3rem;
		padding: 0.1rem;
		align-items: center;
		box-sizing: border-box;
		min-height: unset;
	}
	div.buttons button i {
		height: 100%;
	}
	button {
		margin-left: 25%;
	}
}

div.pf div.name,
div.maneuver div.name {
	flex: 0 0 fit-content;
}

div.perks-flaws {

h3 {
	width: 50%;
}

div.pf {
	padding-left: 0.25rem;
}
div.pf:nth-child(odd) {
	background: var(--color-background-alt);
}
div.pf.perk.granted {
	background-image: linear-gradient(
		to right,
		transparent,
		var(--color-perk-granted) 2ch,
		transparent
	);
}
div.pf.flaw.granted {
	background-image: linear-gradient(
		to right,
		transparent,
		var(--color-flaw-granted) 2ch,
		transparent
	);
}
div.pf.perk.granted:nth-child(odd) {
	background-image: linear-gradient(
		to right,
		transparent,
		var(--color-perk-granted-alt) 2ch,
		transparent
	);
}
div.pf.flaw.granted:nth-child(odd) {
	background-image: linear-gradient(
		to right,
		transparent,
		var(--color-flaw-granted-alt) 2ch,
		transparent
	);
}
div.pf div.buttons {
	display: flex;
	flex-flow: row nowrap;
}

}

div.maneuvers {

div.maneuver {
	display: grid;
	grid-template-columns: 1fr 1.4rem 3rem;
	padding-left: 0.15rem;
}
div.maneuver:nth-child(odd) {
	background: var(--color-background-alt);
}
div.maneuver.granted {
	background-image: linear-gradient(
		to right,
		transparent,
		var(--color-maneuver-granted) 0.5ch,
		transparent
	);
}
div.maneuver.from-cpx {
	background-image: linear-gradient(
		to right,
		transparent,
		var(--color-maneuver-bonus) 0.5ch,
		transparent
	);
}
div.maneuver.granted:nth-child(odd) {
	background-image: linear-gradient(
		to right,
		transparent,
		var(--color-maneuver-granted-alt) 0.5ch,
		transparent
	);
}
div.maneuver.from-cpx:nth-child(odd) {
	background-image: linear-gradient(
		to right,
		transparent,
		var(--color-maneuver-bonus-alt) 0.5ch,
		transparent
	);
}
div.maneuver>div {
	white-space: nowrap;
}
div.maneuver>div:first-child {
	white-space: revert;
}
div.maneuver div.complexity,
div.maneuver div.cost {
	text-align: center;
}
div.maneuver div.points-type {
	min-width: unset;
	/* border-radius: 0.4rem 0.4rem 0 0; */
	font-size: 90%;
	line-height: 100%;
	padding: 0.2rem 0.2rem 0 0.2rem;
	margin-top: 0.1rem;
	text-align: center;
}
div.maneuver div.points-type:first-child {
	border-radius: 0.4rem 0 0 0;
	text-align: left;
}
div.maneuver div.points-type:last-child {
	border-radius: 0 0.4rem 0 0;
}

}

div.injuries {
	display: flex;
	flex-flow: column;
	gap: 0;

div.secondary-attributes {
	display: flex;
	flex-flow: row;
	gap: 0;
}

h2 {
	align-items: end;
}
h2 span.last-child {
	font-size: 80%;
}
h3 {
	display: grid;
	grid-template-columns: 1fr min-content;
	align-items: end;
	border-image:
		linear-gradient(
			to right,
			transparent,
			var(--color-text-emphatic) 5%,
			transparent 66%,
			var(--color-text-emphatic) 95%,
			transparent
		) 1;
}

div.injury-block {
	flex: 1 0 fit-content;
	display: flex;
	flex-flow: column;
	gap: 0;
}
div.injury-block div.header {
	background: var(--color-label-background);
	font-size: 85%;
	text-align: center;
	display: block;
	color: var(--color-label-text);
	height: 0.85rem;
}
div.injury-block:first-child div.header {
	text-align: left;
}
div.injury-block div.threshold-value,
div.injury-block div.injury-value {
	font-size: 1rem;
	height: 1.05rem;
	line-height: 1.05rem;
	text-align: center;
	overflow: hidden;
}
div.injury-block div.injury-value input {
	padding: 0;
	margin: 1px 0 1px;
	text-align: center;
	font-size: 1rem;
	height: calc(100% - 2px);
	text-align: center;
}
div.injury-block div.injury-value i {
	color: var(--color-trauma-inactive);
}
div.injury-block div.injury-value.trauma i {
	color: var(--color-trauma);
}
div.shock {
	display: flex;
	flex-flow: row;
	gap: 0.1rem;
}
div.shock-state {
	display: inline-flex;
	flex: 1 1 1rem;
	position: relative;
	border-radius: 25%;
	border: 1px solid var(--color-shock-state-border);
	/* This is an interesting hack to make gradient borders work without
	 * nested elements. Ultimately decided not to use it for now, but
	 * keeping it here if I want it again later.
	 */
	/*
	background-image: radial-gradient(circle, transparent 0%, transparent 65%, white 100%);
	background-origin: border-box;
	background-clip: content-box, border-box;
	*/
}
div.shock-state:after {
	content: "";
	display: block;
	padding-bottom: 100%; /* Black magic */
}
div.shock i {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	align-content: center;
	text-align: center;
}
div.shock i.healthy {
	color: var(--color-system-shock-healthy);
}
div.shock i.wounded {
	color: var(--color-system-shock-wounded);
}

}

}

.tribe8.tribe8app.attributes {
	height: fit-content;
	z-index: auto;

	div.attribute-editor {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-row-gap: 0.25rem;
		height: 100%;
	}

	div.attribute-block div.name {
		flex: 0 0 fit-content;
		font-size: 1rem;
	}
	div.attribute-block div.value {
		flex: 1 0 fit-content;
		align-content: center;
		font-size: 1.5rem;
	}
	div.attribute-block div.points {
		flex: 1 0 fit-content;
	}
	div.attribute-block div.points input {
		flex: 1 0 1.5rem;
		font-size: 1.1rem;
	}
	div.attribute-block div.points label {
		font-size: 0.9rem;
		font-weight: bold;
	}

	div.attribute-editor div.attribute-block div.value,
	div.attribute-editor div.attribute-block:first-child div.value,
	div.attribute-editor div.attribute-block:last-child div.value {
		border-radius: 0 0 0 0;
	}
}